<div class="text-center" id="new" >
<h1>New Contact Form</h1>
  <form>
    <label>
    First Name:
    <input type="text" ng-model="newContact.firstName" ng-model-options="{ updateOn: 'blur' }" required/></label><br />
    <label>
    Last Name:
    <input type="text" ng-model="newContact.lastName" required /></label><br />
    <label>
    Favorite Color:
    <input type="text" ng-model="newContact.favoriteColor" required/></label><br />
    <label>
    Occupation:
    <input type="text" ng-model="newContact.occupation" required /></label><br />
    <label>
    Phone Number:
    <input type="text" ng-model="newContact.phoneNumber" required /></label><br />
    <label>
    Email:
    <input type="text" ng-model="newContact.email" required/></label><br />
    <button class="btn btn-default" ng-click="buttonSubmit()">Submit</button>

  </form>

</div>