<div class="text-center" id="view">
	
<!-- forEach (aka loop) we use ng-repeat, from contacts call new item to contact when creating a card(s)-->

</div>
  <div id="contact"></div>
	<div ng-repeat="contact in contacts" class="col-sm-8 col-md-4">
	  <div class="thumbnail">
		
			<div class="cardInfo">
			  <h5>Name: {{contact.firstName}} {{contact.lastName}}</h5>
			  <p>Phone: {{contact.phoneNumber}}</p>
			  <p>Email: {{contact.email}}</p>
			  <p>Favorite Color: {{contact.favoriteColor}}</p>
			  <p>Occupation: {{contact.occupation}}</p>		
			</div>
		  <button class="btn btn-warning" ng-click="deleteContact(contact.id)">delete</button>
		  <button class="btn btn-default" ng-click="favoriteContact(contact.id)">favorite<i class="fa fa-star" aria-hidden="true"></i>
</button>
		</div>
	</div>
  </div>
</div>

